$background-color: #1C0E1E;
$red-color: #E82639;
$blue-color: #30A0D2;
$grey-color: #B7B7B7;
$purple-color: #8381A3;
$green-color: #60BB46;

$eiga-font: "eigaregular";
$opensans-font: "Open sans";
$moon-font: "moonbold";
